/* Quill Editor Custom Styles */
.ql-container {
  font-family: inherit;
  font-size: 16px;
  min-height: 400px;
}

.ql-editor {
  min-height: 400px;
  padding: 20px;
}

.ql-editor h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.ql-editor h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.ql-editor p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.ql-editor ul,
.ql-editor ol {
  margin-bottom: 1em;
  padding-left: 2em;
}

.ql-editor li {
  margin-bottom: 0.5em;
}

.ql-editor blockquote {
  border-left: 4px solid #e5e7eb;
  padding-left: 1em;
  margin: 1em 0;
  font-style: italic;
  color: #6b7280;
}

.ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
